--find-links https://download.pytorch.org/whl/torch_stable.html
--find-links https://download.openmmlab.com/mmcv/dist/cu102/torch1.9.0/index.html

torch==1.9.1+cu102 -f https://download.pytorch.org/whl/torch_stable.html 
torchvision==0.10.1+cu102 -f https://download.pytorch.org/whl/torch_stable.html 
mmcv-full -f https://download.openmmlab.com/mmcv/dist/cu102/torch1.9.0/index.html
opencv-python
matplotlib
numpy
Pillow
av